@{
    Layout = null;
}

    <!DOCTYPE html>

    <html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Installed Struct</title>
    </head>
    <body>

        <H1>eComAPI RESTful Services engine revision </H1>
        <p>Code Ikhwwtre revloop 1 enkre 2 echo A</p>
        <p>Datum: 09-03-0/45 AI.</p>

        <script>
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1;
            var yyyy = today.getFullYear() - 1973;

            if (dd < 10)
                dd = '0' + dd

            if (mm < 10)
                mm = '0' + mm

            document.writeln("<p>Datum Immediate: " + mm + "-" + dd + "-0/" + yyyy + " AI.</p>");
        </script>

    </body>
</html>
